@model CRM.Models.Annotations

@{
    ViewData["Title"] = "Edit";
}

<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Edit Annotation</h1>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
        <br />
    </div>
</div><!--/.row-->

<!-- Form -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">New Register</div>
            <div class="panel-body">
                <form asp-action="Edit">
                    <div class="form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Date" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Date" class="form-control" />
                                <span asp-validation-for="Date" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="ContactId" class="control-label col-md-2"></label>
                            <div class="col-md-10">
                                <select asp-for="ContactId" class="form-control" asp-items="ViewBag.ContactId"></select>
                                <span asp-validation-for="ContactId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
